{{#> modal }}
<div class="d-flex flex-column p-4 gap-4">
  <div class="d-flex align-items-center justify-content-between">
    <div class="fw-semibold text-gray fs-3">
      Create new Release
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>

  
  <form id="create-release-form" class="needs-validation" onsubmit="return createReleases(event)" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label text-gray">Release Name</label>
      <input type="text" class="form-control" id="name" placeholder="Foobar" required>
      <div class="invalid-feedback">
        Please provide a valid name.
      </div>
    </div>
    <div class="mb-3 d-flex gap-2">
      <div class="w-50">
        <label for="start-date" class="form-label text-gray">Start Date</label>
        <input type="date" class="form-control" id="start-date" required>
        <div class="invalid-feedback">
          Please provide a valid date.
        </div>
      </div>
      <div class="w-50">
        <label for="end-date" class="form-label text-gray">End Date</label>
        <input type="date" class="form-control" id="end-date" required>
        <div class="invalid-feedback">
          Please provide a valid date.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label text-gray">Release Description</label>
      <textarea class="form-control" id="description" rows="5" placeholder="Something about this requirement..."></textarea>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-3">
      <button type="submit" class="btn btn-primary">Create</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
  </form>
  
</div>
{{/modal}}

<main class="d-flex h-100 overflow-hidden">
  {{>sidebar}}
  <div id="content" class="h-100 overflow-auto p-4" style="width: 80%; ">
    <button type="button" class="btn btn-success d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal">
      <img src="/assets/add.png" alt="#" height="30px">
      <div>Add Releases</div>
    </button>

    <div class="d-flex justify-content-between py-3">
      {{!-- <div class="d-flex gap-1">
        <button class="btn p-0">
          <img src="/assets/view_grid.png" height="30px" />
        </button>
        <button class="btn p-0">
          <img src="/assets/view_details.png" height="30px" />
        </button>
      </div>
      <div class="d-flex gap-1">
        <div class="input-group">
          <input type="text" class="rounded-pill form-control" id="search" placeholder="Search"/>
          <label for="search" class="position-absolute end-0 pe-2 me-0 d-flex align-items-center h-100" style="z-index: 1000;">
            <img src="/assets/search.png" height="20px"/>
          </label>
        </div>
        <button class="btn p-0">
          <img src="/assets/filter.png" height="30px" />
        </button>
        <button class="btn p-0">
          <img src="/assets/sort.png" height="30px" />
        </button>
      </div> --}}
    </div>

    

    <div id="releases" class="d-flex flex-column gap-2">
      <!-- <div class="d-flex flex-column bg-white rounded bottom-shadow px-3 py-3">
        <div class="d-flex justify-content-between gap-5 align-items-center pb-2">
          <div class="d-flex align-items-center gap-2">
            <div>
              <img src="/assets/releases.png" height="30px" />
            </div>
            <div class="text-gray fw-semibold">
              Release #1
            </div>
          </div>
          <div class="d-flex gap-3 align-items-center w-75">
            <div class="flex-grow-1">
              <div class="progress rounded-pill">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <button class="btn p-0" data-bs-toggle="collapse" data-bs-target="#collapseExample">
              <img src="/assets/dropdown.png" height="30px" />
            </button>
          </div>
        </div>
        <div class="text-secondary collapse" id="collapseExample">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores a, rerum aliquam ex obcaecati beatae sed voluptas delectus quod optio perferendis. Nisi unde dolore quo architecto dignissimos molestiae perspiciatis suscipit!
        </div>
      </div> -->
    </div>

  </div>
</main>

{{{{rawHelper}}}}
<script id="template-release" type="text/x-handlebars-template">
	{{#each data}}
    <div class="d-flex flex-column bg-white rounded bottom-shadow px-3 py-3">
      <div class="d-flex justify-content-between gap-5 align-items-center pb-2">
        <div class="d-flex align-items-center gap-2">
          <div>
            <img src="/assets/releases.png" height="30px" />
          </div>
          <div class="text-gray fw-semibold">
            {{name}}
          </div>
        </div>
        <div class="d-flex gap-3 align-items-center w-75">
          <div class="flex-grow-1">
            <div class="progress rounded-pill">
              <div class="progress-bar" role="progressbar" style="width: {{value}}%;" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <button class="btn p-0" data-bs-toggle="collapse" data-bs-target="#collapsedDescription{{counter}}">
            <img src="/assets/dropdown.png" height="30px" />
          </button>
        </div>
      </div>
      <div class="text-secondary collapse" id="collapsedDescription{{counter}}">
        <div class="d-flex justify-content-between">
          <div>
            {{description}}
          </div>
          <button class="btn p-0" onclick="deleteRelease({{id}})">
            <img src="/assets/trash.png" height="20px" />
          </button>
        </div>
      </div>
      
    </div>
    {{else}}
    <div id="content-empty">
      <div class="d-flex flex-column align-items-center justify-content-center mt-5">
        <img src="/assets/empty_box.png" height="140px" width="140px" />
        <div class="fw-semibold fs-2" style="color: #9FAAC0">It’s empty. Create something new</div>
      </div>
    </div>
	{{/each}}
</script>
{{{{/rawHelper}}}}

<script>
let template = Handlebars.compile(document.getElementById('template-release').innerHTML);

function deleteRelease(id) {
  if (confirm("Do you want to delete this release?") == true) {
    axiosAPI.delete('/api/projects/{{projectId}}/releases/' + id)
    .then(res => {
      console.log(res);
      Toastify({
        text: "Deleted",
        style: {
        background: "linear-gradient(to right, #198754, #198754)",
        },
        onClick: function(){} // Callback after click
      }).showToast();
      setTimeout(() => {
        window.location.reload();
      }, 500);
    })
    .catch(err => {
      console.log(err);
      Toastify({
        text: "Failed to delete release",
        style: {
        background: "linear-gradient(to right, #dc3545, #dc3545)",
        },
        onClick: function(){} // Callback after click
      }).showToast();
    })
  }
}

function loadReleases() {
  axiosAPI.get('/api/projects/{{projectId}}/releases')
  .then(res => {
    res.data.releases.forEach((re, i) => {
      let startTime = new Date(re.startDate).getTime();
      let endTime = new Date(re.endDate).getTime();
      let currentTime = new Date().getTime();

      let percentage = Math.floor((currentTime - startTime) / (endTime - startTime) * 100);

      percentage = Math.min(Math.max(percentage, 0), 100);;
      re.value = percentage;
      re.description = re.description || 'Trống';
      re.counter = i;
    })
    let html = template({
			data: res.data.releases,
		})
		document.getElementById('releases').innerHTML += html;
  })
  .catch(err => {
    console.log(err);
  })
}

loadReleases();

var idCounter = 100;

function createReleases(e) {
	e.preventDefault()
	e.stopPropagation()
	var form = document.getElementById('create-release-form');
	if (!form.checkValidity()) {
		form.classList.add('was-validated')
		return;
	}
	form.classList.remove('was-validated')

	var myModalEl = document.getElementById('modal');
	var modal = bootstrap.Modal.getInstance(myModalEl);

	var name = document.getElementById('name');
	var description = document.getElementById('description');
	var startDate = document.getElementById('start-date');
	var endDate = document.getElementById('end-date');
	var progress = Math.floor(Math.random() * 80) + 20;

  axios.put('/api/projects/{{projectId}}/releases', {
    name: name.value,
    description: description.value,
    startDate: startDate.value,
    endDate: endDate.value,
  })
  .then(res => {
		Toastify({
			text: "New release created",
			style: {
			background: "linear-gradient(to right, #198754, #198754)",
			},
			onClick: function(){} // Callback after click
		}).showToast();
		modal.hide();
		setTimeout(() => {
			window.location.reload();
		}, 500);
	})
	.catch(err => {
		console.log(err);
		Toastify({
			text: "Failed to create release",
			style: {
			background: "linear-gradient(to right, #dc3545, #dc3545)",
			},
			onClick: function(){} // Callback after click
		}).showToast();
	})

	//Clear form
	name.value = "";
	description.value = "";
	startDate.value = "";
	endDate.value = "";
}
</script>
